header {
  display: border-box;
  background: purple;
  color: white;
  padding-left: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
main {
  position: relative;
  top: 80px;
}
