:root {
    --cont-back-c:rgb(218, 150, 95);
    --border-c: rgb(0, 0, 0);
    --it-back-c: rgb(170, 52, 52);
    --font-c: white;
}

.container {
  background: var(--cont-back-c);
  display: flex;
}
.item {
  background: var(--it-back-c);
  border: 5px solid var(--border-c);
  font-size: 40px;
  color: white;
  box sizing: border-box;
  text-align: center;
}
/* Ej 1.4-1 */
.cont1 {
    width: 500px;
    height: 500px;
    flex-direction: column;
}
/* Ej 1.4-2 */
.cont2 {
    flex-direction: row;
    flex-wrap: wrap;
}
.it2 {
    width: 200px;
    height: 100px;
}