.warning {
  color: black;
  background-color: $color-main;
  font-size: 5px;
  height: 75px;
  text-transform: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    height: 100px;
  }
  @media (min-width: 1280px) {
    height: 1100px;
  }
  .button {
    background-color: $color-button;
    margin: 5px;
    height: 45px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 35px;
    width: 50%;
    overflow: hidden;
  }
}
