body {
  padding: 2rem;
  height: 50vh;
  font-family: $font-main;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page {
  max-width: 1000px;
}
