/*Ej 3.1*/
div {
  background-color: rgb(209, 47, 47);
  color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.pikachu {
  width: 100px;
  height: 100px;
}
.squirtle {
  width: 200px;
  height: 200px;
}
.bulba {
  background: rgb(162, 219, 123);
  width: 100px;
  height: auto;
  border: 5px solid rgb(29, 112, 108);
  padding: 10px;
}
.bulba-bulba {
  box-sizing: content-box;
}
.bulba-saur {
  width: 100px;
  height: auto;
}
