li {
  list-style: none;
}
.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid grey;
  margin-bottom: 10px;
  border-radius: 5px;
}
.text-muted {
  color: gray;
}
.badge {
  font-size: 12px;
  background-color: rgb(19, 151, 151);
  color: white;
  border-radius: 5px;
  padding: 2px;
  font-weight: 600;
}
